<div class="container mt-5">
    <h2 class="text-center mb-4">Administración de usuarios</h2>
    <div class="d-flex justify-content-end mb-3">
      <button class="btn btn-1" (click)="createUser()">
          <i class="fas fa-plus"></i> Crear usuario
      </button>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.fullName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone ?? "-" }}</td>
                <td>{{ user.rol }}</td>
                <td>
                    <div class="d-flex gap-2">
                        <button class="btn btn-2 btn-sm" (click)="editProfile(user.id)">
                            <i class="fas fa-edit"></i>
                            Editar
                        </button>
                        <button class="btn btn-danger btn-sm" (click)="deleteUser(user.id)" [disabled]="user.rol === 'ADMIN'">
                            <i class="fas fa-trash"></i>
                            Eliminar
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>