<main class="container my-5">
    <h1 class="text-center mb-4">Editar Libro</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate class="bg-2 animate-slideUp">
        <div class="card-body">
            <div class="mb-3">
                <label for="title" class="form-label fw-bold">Título</label>
                <input id="title" formControlName="title" type="text" class="form-control">
                <div class="text-error" *ngIf="form.get('title')?.touched && form.get('title')?.invalid">
                    Título obligatorio
                </div>
            </div>

            <div class="mb-3">
                <label for="author" class="form-label fw-bold">Autor</label>
                <input id="author" formControlName="author" type="text" class="form-control">
                <div class="text-error" *ngIf="form.get('author')?.touched && form.get('author')?.invalid">
                    Autor obligatorio
                </div>
            </div>

            <div class="mb-3">
                <label for="genre" class="form-label fw-bold">Género</label>
                <input id="genre" formControlName="genre" type="text" class="form-control">
                <div class="text-error" *ngIf="form.get('genre')?.touched && form.get('genre')?.invalid">
                    Género obligatorio
                </div>
            </div>

            <div class="mb-3">
                <label for="publication" class="form-label fw-bold">Publicación</label>
                <input id="publication" formControlName="publication" type="number" class="form-control">
                <div class="text-error" *ngIf="form.get('publication')?.touched && form.get('publication')?.invalid">
                    Año inválido (Rango: 1000 - {{ currentYear }})
                </div>
            </div>

            <div *ngIf="mensajeError" class="alert alert-danger text-center">{{ mensajeError }}</div>
            <div *ngIf="mensajeOk" class="alert alert-success text-center">{{ mensajeOk }}</div>

            <div class="d-grid mt-3">
                <button class="btn btn-1" type="submit">Guardar Cambios</button>
            </div>
        </div>
    </form>
</main>