.btn-1 {background-color: var(--color-1); color: var(--color-5);}
.btn-2 {background-color: var(--color-2); color: var(--color-6);}
.btn-3 {background-color: var(--color-5); color: var(--color-1);}

.text-portada-1{
  font-size: 1.6rem;
  color: var(--color-2);
  text-align: center;
}

.text-portada-2{
  font-size: 3.2rem;
  color: var(--color-1);
  text-align: center;
}

.text-portada-3{
  font-size: 1rem;
  color: var(--color-4);
  text-align: center;
  font-weight: 600;
}

