<main>

  <!-- HERO -->
  <div class="text-center bg-hero mb-5 px-0">
    <section class="container py-5">
      <div class="row justify-content-center align-items-center">

        <!-- Imagen principal -->
        <div class="col-12 col-md-6 mb-4">
          <img
            src="assets/img/logo.png"
            alt="Librería Banner"
            class="img-fluid mb-3 animate-fadeIn"
            style="height: 350px; object-fit: cover;"
          >
        </div>

        <!-- Texto principal -->
        <div class="col-12 col-md-6 mb-4 text-light">

          <p class="text-portada-1 animate-fadeIn mb-1">
            Bienvenido a
          </p>

          <h1 class="text-portada-2 animate-fadeIn mb-3">
            Librería BookHub
          </h1>

          <div class="text-portada-1 animate-fadeIn mb-4">
            <span class="sigla">Lectura, Exploración y Letras</span>
          </div>

          <p class="text-portada-3 animate-fadeIn">
            Descubre un universo de historias, conocimiento y aventuras.
          </p>

          <a class="btn btn-2 btn-lg mt-3 animate-fadeIn" href="/books-list">
            Explorar Catálogo
          </a>
        </div>

      </div>
    </section>
  </div>


  <!-- CATEGORÍAS DESTACADAS -->
  <!-- <section class="container mb-5">
    <div class="text-center mb-4">
      <h1 class="animate-fadeIn text-portada-2">Categorías Destacadas</h1>
      <p class="animate-fadeIn text-portada-1">Encuentra tu próximo libro favorito</p>
    </div>

    <div class="row text-center">

      <div class="col-6 col-md-3 mb-4 animate-fadeIn">
        <div class="p-4 shadow rounded bg-white hover-card">
          <i class="bi bi-book-half display-6 mb-2"></i>
          <h5>Ficción</h5>
        </div>
      </div>

      <div class="col-6 col-md-3 mb-4 animate-fadeIn">
        <div class="p-4 shadow rounded bg-white hover-card">
          <i class="bi bi-lightbulb display-6 mb-2"></i>
          <h5>Autoayuda</h5>
        </div>
      </div>

      <div class="col-6 col-md-3 mb-4 animate-fadeIn">
        <div class="p-4 shadow rounded bg-white hover-card">
          <i class="bi bi-mortarboard display-6 mb-2"></i>
          <h5>Educación</h5>
        </div>
      </div>

      <div class="col-6 col-md-3 mb-4 animate-fadeIn">
        <div class="p-4 shadow rounded bg-white hover-card">
          <i class="bi bi-journal-richtext display-6 mb-2"></i>
          <h5>Biografías</h5>
        </div>
      </div>

    </div>
  </section> -->

  <!-- VIDEO O CONTENIDO EXTRA -->
  <section class="container mb-5 text-center">
    <h2 class="mb-3 text-portada-2">Conoce nuestro canal de Youtube</h2>

      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="d-inline-block mt-4">
        <img
          src="assets/img/youtube-logo.png"
          alt="Canal de YouTube"
          class="img-fluid rounded hover-zoom"
          style="max-width: 200px;"
        >
      </a>
  </section>
</main>