<main class="container my-5">
    <h1 class="text-center mb-4">Recuperar Contraseña</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate class="bg-2 animate-slideUp">
        <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico</label>
            <input
                type="email"
                id="email"
                formControlName="email"
                class="form-control"
            />
            <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="text-error">
                Ingresa un correo válido
            </div>
        </div>

        <div *ngIf="mensajeError" class="alert alert-danger text-center">{{ mensajeError }}</div>
        <div *ngIf="mensajeOk" class="alert alert-success text-center">{{ mensajeOk }}</div>

        <div class="d-grid">
            <button type="submit" class="btn btn-1 btn-block">Recuperar</button>
        </div>

        <div class="text-center mt-3">
            <a routerLink="/login" class="btn-outline">Volver a inicio de sesión</a>
        </div>
    </form>
</main>