<div class="container mt-5">
    <h2 class="text-center mb-4">Gestión de Libros</h2>
    <div class="d-flex justify-content-end mb-3">
      <button class="btn btn-1" (click)="createBook()">
          <i class="fas fa-plus"></i> Registrar Nuevo Libro
      </button>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Título</th>
                <th>Autor</th>
                <th>Género</th>
                <th>Año publicación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books">
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.genre }}</td>
                <td>{{ book.publication }}</td>
                <td>
                    <div class="d-flex gap-2">
                        <button class="btn btn-2 btn-sm" (click)="editBook(book.id)">
                            <i class="fas fa-edit"></i>
                            Editar
                        </button>
                        <button class="btn btn-danger btn-sm" (click)="deleteBook(book.id)">
                            <i class="fas fa-trash"></i>
                            Eliminar
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>